      body {
          background-color: rgb(30, 30, 30);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100vh;
          gap: 6vh;
          font-family: sans-serif;
      }

      .bulb {
          height: 30vw;
          width: 30vw;
          border-radius: 50%;
          background-color: #111;
          box-shadow: inset 0 0 4vw #000;
          transition: all 0.8s ease;
          position: relative;
          overflow: hidden;
      }

      .santa {
          position: absolute;
          bottom: -40%;
          left: 50%;
          transform: translateX(-50%);
          width: 25%;
          opacity: 0;
      }

      .santa.fly {
          opacity: 1;
          animation: santaFly 4.2s linear 1;
          animation-delay: 1.6s;
      }

      @keyframes santaFly {
          0% {
              left: -15%;
              bottom: 8%;
          }

          100% {
              left: 120%;
              bottom: 80%;
          }
      }

      button {
          font-size: 1.3rem;
          padding: 0.7rem 2.9rem;
          border-radius: 0.75rem;
          border: none;
          font-weight: 600;
          cursor: pointer;
          transition: all 0.3s ease;
      }